body, html {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body .container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 25px;
    height: 80vh;
    gap: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 20%;
    margin: 25px;
}

.form label {
    font-family: monospace;
    font-weight: 500;
}

.form input {
    height: 20px;
    font-family: monospace;
    padding: 0 5px;
    outline: none;
    border: 1px solid #2a313c34;;
}

.form button {
    height: 25px;
    outline: none;
    margin-top: 10px;
    border: 1px solid #2a313c8d;
    border-radius: 12px;
    font-weight: 500;
}

.form button:active {
    background: black;
    color: white;
    font-weight: 700;
}

.pending, .progress, .done {
    border: 1px solid rgba(0, 0, 0, 0.122);
    padding: 0px 10px;
}

.task {
    max-width: 100%;
    border: 2px solid #2a313c34;
    background: #2a313c23;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 12px 10px;
    cursor: move; /* Change cursor to indicate draggable */
}

.task:active {
    border: 2.9px solid #2a313cea;
}

@media screen and (max-width: 500px) {

    .form {
        max-width: 100%;
        margin: 20px;
    }
}

@media screen and (max-width: 1090px) {
    body .container {
        grid-template-columns: auto;
    }
}
